### Вступление

**Название проекта**: Исследование надёжности заёмщиков.   
    
**Описание проекта**: Заказчик — кредитный отдел банка. Входные данные от банка — статистика о платёжеспособности клиентов.
Результаты исследования будут учтены при построении модели кредитного скоринга — специальной системы, которая оценивает способность потенциального заёмщика вернуть кредит банку.
    
**Цель проекта**: Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок. 

**Описание данных**:

- children — количество детей в семье
- days_employed — общий трудовой стаж в днях
- dob_years — возраст клиента в годах
- education — уровень образования клиента
- education_id — идентификатор уровня образования
- family_status — семейное положение
- family_status_id — идентификатор семейного положения
- gender — пол клиента
- income_type — тип занятости
- debt — имел ли задолженность по возврату кредитов
- total_income — ежемесячный доход
- purpose — цель получения кредита

### Загрузка и подготовка данных

In [1]:
import pandas as pd

In [5]:
try:
    data = pd.read_csv('D:\Аналитика\Аналитик данных\Dataset\data (csv).csv')
except:
    data = pd.read_csv('https://code.s3.yandex.net/datasets/data.csv')
    
pd.set_option('display.max_columns', None)
pd.set_option('display.max_colwidth', None)

In [7]:
display(data.head(20))

,children,days_employed,dob_years,education,education_id,family_status,family_status_id,gender,income_type,debt,total_income,purpose
0,1,-8437.673028,42,высшее,0,женат / замужем,0,F,сотрудник,0,253875.639453,покупка жилья
1,1,-4024.803754,36,среднее,1,женат / замужем,0,F,сотрудник,0,112080.014102,приобретение автомобиля
2,0,-5623.422610,33,Среднее,1,женат / замужем,0,M,сотрудник,0,145885.952297,покупка жилья
3,3,-4124.747207,32,среднее,1,женат / замужем,0,M,сотрудник,0,267628.550329,дополнительное образование
4,0,340266.072047,53,среднее,1,гражданский брак,1,F,пенсионер,0,158616.077870,сыграть свадьбу
5,0,-926.185831,27,высшее,0,гражданский брак,1,M,компаньон,0,255763.565419,покупка жилья
6,0,-2879.202052,43,высшее,0,женат / замужем,0,F,компаньон,0,240525.971920,операции с жильем
7,0,-152.779569,50,СРЕДНЕЕ,1,женат / замужем,0,M,сотрудник,0,135823.934197,образование
8,2,-6929.865299,35,ВЫСШЕЕ,0,гражданский брак,1,F,сотрудник,0,95856.832424,на проведение свадьбы
9,0,-2188.756445,41,среднее,1,женат / замужем,0,M,сотрудник,0,144425.938277,покупка жилья для семьи
10,2,-4171.483647,36,высшее,0,женат / замужем,0,M,компаньон,0,113943.491460,покупка недвижимости
11,0,-792.701887,40,среднее,1,женат / замужем,0,F,сотрудник,0,77069.234271,покупка коммерческой недвижимости
12,0,NaN,65,среднее,1,гражданский брак,1,M,пенсионер,0,NaN,сыграть свадьбу
13,0,-1846.641941,54,неоконченное высшее,2,женат / замужем,0,F,сотрудник,0,130458.228857,приобретение автомобиля
14,0,-1844.956182,56,высшее,0,гражданский брак,1,F,компаньон,1,165127.911772,покупка жилой недвижимости
15,1,-972.364419,26,среднее,1,женат / замужем,0,F,сотрудник,0,116820.904450,строительство собственной недвижимости
16,0,-1719.934226,35,среднее,1,женат / замужем,0,F,сотрудник,0,289202.704229,недвижимость
17,0,-2369.999720,33,высшее,0,гражданский брак,1,M,сотрудник,0,90410.586745,строительство недвижимости
18,0,400281.136913,53,среднее,1,вдовец / вдова,2,F,пенсионер,0,56823.777243,на покупку подержанного автомобиля
19,0,-10038.818549,48,СРЕДНЕЕ,1,в разводе,3,F,сотрудник,0,242831.107982,на покупку своего автомобиля

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21525 entries, 0 to 21524
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   children          21525 non-null  int64
 1   days_employed     19351 non-null  float64
 2   dob_years         21525 non-null  int64
 3   education         21525 non-null  object
 4   education_id      21525 non-null  int64
 5   family_status     21525 non-null  object
 6   family_status_id  21525 non-null  int64
 7   gender            21525 non-null  object
 8   income_type       21525 non-null  object
 9   debt              21525 non-null  int64
 10  total_income      19351 non-null  float64
 11  purpose           21525 non-null  object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.0+ MB

## Предобработка данных

In [12]:
#Удаление пропусков
print(data.isna().sum())

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income           0
purpose                0
dtype: int64

In [13]:
#Столбец с пропущенными значениями — total_income — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца income_type. Например, у человека с типом занятости сотрудник пропуск в столбце total_income должен быть заполнен медианным доходом среди всех записей с тем же типом.
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == t), 'total_income'].median()

In [14]:
print(data.isna().sum())

children               0
days_employed       2174
dob_years              0
education              0
education_id           0
family_status          0
family_status_id       0
gender                 0
income_type            0
debt                   0
total_income           0
purpose                0
dtype: int64

In [15]:
#Обработка аномальных значений.
#Изменим отрицательный трудовой стаж на положительный.
data['days_employed'] = data['days_employed'].abs()

In [17]:
#Для каждого типа занятости выведем трудовой стаж.
print(data.groupby('income_type')['days_employed'].agg('median'))

income_type
безработный        366413.652744
в декрете            3296.759962
госслужащий          2689.368353
компаньон            1547.382223
пенсионер          365213.306266
предприниматель       520.848083
сотрудник            1574.202821
студент               578.751554
Name: days_employed, dtype: float64

In [18]:
#Выведем уникальные значения столбца children.
data['children'].unique()

array([ 1,  0,  3,  2, -1,  4, 20,  5], dtype=int64)

In [19]:
#Удалим аномальные значения.
data = data[(data['children'] != -1) & (data['children'] != 20)]

In [20]:
data['children'].unique()

array([1, 0, 3, 2, 4, 5], dtype=int64)

In [21]:
#Заполним пропуски в столбце days_employed медианными значениями по каждого типа занятости income_type.
for t in data['income_type'].unique():
    data.loc[(data['income_type'] == t) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == t), 'days_employed'].median()

In [22]:
data.isna().sum()

children            0
days_employed       0
dob_years           0
education           0
education_id        0
family_status       0
family_status_id    0
gender              0
income_type         0
debt                0
total_income        0
purpose             0
dtype: int64

In [23]:
#Изменения типов данных
data['total_income'] = data['total_income'].astype(int)

In [24]:
#Обработка дубликатов
data.duplicated().sum()

54

In [25]:
data = data.drop_duplicates()

In [26]:
data.duplicated().sum()

0

На основании диапазонов, указанных ниже, создадим в датафрейме data столбец total_income_category с категориями:

0–30000 — 'E';
30001–50000 — 'D';
50001–200000 — 'C';
200001–1000000 — 'B';
1000001 и выше — 'A'.

In [27]:
#Категоризация данных
def categorize_income(income):
    try:
        if 0 <= income <= 30000:
            return 'E'
        elif 30001 <= income <= 50000:
            return 'D'
        elif 50001 <= income <= 200000:
            return 'C'
        elif 200001 <= income <= 1000000:
            return 'B'
        elif income >= 1000001:
            return 'A'
    except:
        pass

In [28]:
data['total_income_category'] = data['total_income'].apply(categorize_income)

In [29]:
#Уникальные значения столбца purpose
data['purpose'].unique()

array(['покупка жилья', 'приобретение автомобиля',
       'дополнительное образование', 'сыграть свадьбу',
       'операции с жильем', 'образование', 'на проведение свадьбы',
       'покупка жилья для семьи', 'покупка недвижимости',
       'покупка коммерческой недвижимости', 'покупка жилой недвижимости',
       'строительство собственной недвижимости', 'недвижимость',
       'строительство недвижимости', 'на покупку подержанного автомобиля',
       'на покупку своего автомобиля',
       'операции с коммерческой недвижимостью',
       'строительство жилой недвижимости', 'жилье',
       'операции со своей недвижимостью', 'автомобили',
       'заняться образованием', 'сделка с подержанным автомобилем',
       'получение образования', 'автомобиль', 'свадьба',
       'получение дополнительного образования', 'покупка своего жилья',
       'операции с недвижимостью', 'получение высшего образования',
       'свой автомобиль', 'сделка с автомобилем',
       'профильное образование', 'высшее образование',
       'покупка жилья для сдачи', 'на покупку автомобиля', 'ремонт жилью',
       'заняться высшим образованием'], dtype=object)

Создадим функцию, которая на основании данных из столбца purpose сформирует новый столбец purpose_category, в который войдут следующие категории:

'операции с автомобилем',
'операции с недвижимостью',
'проведение свадьбы',
'получение образования'.

In [30]:
def categorize_purpose(row):
    try:
        if 'автом' in row:
            return 'операции с автомобилем'
        elif 'жил' in row or 'недвиж' in row:
            return 'операции с недвижимостью'
        elif 'свад' in row:
            return 'проведение свадьбы'
        elif 'образов' in row:
            return 'получение образования'
    except:
        return 'нет категории'

In [31]:
data['purpose_category'] = data['purpose'].apply(categorize_purpose)

### Анализ данных

In [33]:
#Проверим зависимость между количеством детей и возвратом кредита в срок.
children = data.groupby('children')['debt'].mean()
children_sum = data.groupby('children')['debt'].sum()
children_count = data.groupby('children')['debt'].count()
display(data['debt'].unique())
display((100 - children * 100).round(1).astype(str) + '%')
display(children_sum)
display(children_count)

array([0, 1], dtype=int64)

children
0     92.5%
1     90.8%
2     90.5%
3     91.8%
4     90.2%
5    100.0%
Name: debt, dtype: object

children
0    1063
1     444
2     194
3      27
4       4
5       0
Name: debt, dtype: int64

children
0    14107
1     4809
2     2052
3      330
4       41
5        9
Name: debt, dtype: int64

**Вывод**: Наблюдается небольшая зависимость между количеством детей и возвратом кредита в срок, так люди не имеющие детей или имеющие 3 детей на 1-2% отдают кредиты в срок чаще. Так же мы видим, что люди имеющие 5 детей отдают кредиты вовремя в 100% случаев, но я бы осторожно относился к этому показателю, так как количество человек с данным показателем насчитывает всего 9, при появлении хотя бы одного человека с просроченным кредитом этот показатель сравняется с другими. В целом на мой взгляд критических расхождений не наблюдается.

In [34]:
#Проверим есть ли зависимость между семейным положением и возвратом кредита в срок.
family_status = data.groupby('family_status')['debt'].mean()
display((100 - family_status * 100).round(1).astype(str) + '%')
display(data.groupby('family_status')['debt'].count())
display(data.groupby('family_status')['debt'].sum())

family_status
Не женат / не замужем    90.2%
в разводе                92.9%
вдовец / вдова           93.4%
гражданский брак         90.7%
женат / замужем          92.4%
Name: debt, dtype: object

family_status
Не женат / не замужем     2796
в разводе                 1189
вдовец / вдова             951
гражданский брак          4146
женат / замужем          12266
Name: debt, dtype: int64

family_status
Не женат / не замужем    273
в разводе                 84
вдовец / вдова            63
гражданский брак         385
женат / замужем          927
Name: debt, dtype: int64

**Вывод**: Люди имеющие семейное положение: в разводе, вдовец / вдова, женат / замужем чаще возвращают кредиты вовремя, разница с другими статусами составляет всего 2-3%. Небольшое наблюдение, если человек официально был или состоит в браке, то вероятность, что он вернет вовремя кредит чуть выше

In [35]:
#Проверим есть ли зависимость между уровнем дохода и возвратом кредита в срок.
total_income = data.groupby('total_income_category')['debt'].mean()
display((100 - total_income * 100).round(1).astype(str) + '%')
display(data.groupby('total_income_category')['debt'].count())
display(data.groupby('total_income_category')['debt'].sum())

total_income_category
A    92.0%
B    92.9%
C    91.5%
D    94.0%
E    90.9%
Name: debt, dtype: object

total_income_category
A       25
B     5014
C    15938
D      349
E       22
Name: debt, dtype: int64

total_income_category
A       2
B     354
C    1353
D      21
E       2
Name: debt, dtype: int64

**Вывод**: Категория людей уровня дохода D возвращают кредиты вовремя заметно чаще. Негативно выделяется категория Е, но в целом остальные категории примерно равны. Стоит учесть, что категории A и E почти не берут кредиты, а основная категория людей берущих кредиты с доходом класса C, в меньшей степени B.

In [36]:
#Влияние целей на возврат кредита в срок.
purpose = data.groupby('purpose_category')['debt'].mean()
display((100 - purpose * 100).round(1).astype(str) + '%')
display(data.groupby('purpose_category')['debt'].count())
display(data.groupby('purpose_category')['debt'].sum())

purpose_category
операции с автомобилем      90.7%
операции с недвижимостью    92.7%
получение образования       90.7%
проведение свадьбы          92.1%
Name: debt, dtype: object

purpose_category
операции с автомобилем       4281
операции с недвижимостью    10754
получение образования        3989
проведение свадьбы           2324
Name: debt, dtype: int64

purpose_category
операции с автомобилем      400
операции с недвижимостью    780
получение образования       369
проведение свадьбы          183
Name: debt, dtype: int64

**Вывод**: Кредиты на цели операции с недвижимостью и проведение свадьбы возвращают в срок на 1,5 - 2% чаще других целей. Примерно половина кредитов выдается на операции с недвижимостью.

In [37]:
res = data.groupby(['family_status', 'children'])['debt'].mean() #среднее по семейному статусу + количеству детей
res_count = data.groupby(['family_status', 'children'])['debt'].count() #количество с разбивкой на семейный статус и кол-во детей
res_count_proc = data.groupby(['family_status', 'children'])['debt'].count() / data['debt'].count() # доля взявших кредит по категориям от общего количества
display((100 - res * 100).round(1).astype(str) + '%')
display(res_count)
display((res_count_proc * 100).round(1).astype(str) + '%')

family_status          children
Не женат / не замужем  0            90.7%
                       1            88.4%
                       2            88.0%
                       3            87.5%
                       4            50.0%
в разводе              0            93.0%
                       1            93.3%
                       2            91.4%
                       3            90.9%
                       4           100.0%
вдовец / вдова         0            93.7%
                       1            90.9%
                       2            85.0%
                       3           100.0%
                       4           100.0%
гражданский брак       0            91.6%
                       1            88.2%
                       2            91.3%
                       3            85.7%
                       4           100.0%
                       5           100.0%
женат / замужем        0            93.1%
                       1            91.7%
                       2            90.5%
                       3            93.2%
                       4            89.7%
                       5           100.0%
Name: debt, dtype: object

family_status          children
Не женат / не замужем  0           2262
                       1            449
                       2             75
                       3              8
                       4              2
в разводе              0            784
                       1            312
                       2             81
                       3             11
                       4              1
вдовец / вдова         0            847
                       1             77
                       2             20
                       3              6
                       4              1
гражданский брак       0           2741
                       1            996
                       2            343
                       3             56
                       4              8
                       5              2
женат / замужем        0           7473
                       1           2975
                       2           1533
                       3            249
                       4             29
                       5              7
Name: debt, dtype: int64

family_status          children
Не женат / не замужем  0           10.6%
                       1            2.1%
                       2            0.4%
                       3            0.0%
                       4            0.0%
в разводе              0            3.7%
                       1            1.5%
                       2            0.4%
                       3            0.1%
                       4            0.0%
вдовец / вдова         0            4.0%
                       1            0.4%
                       2            0.1%
                       3            0.0%
                       4            0.0%
гражданский брак       0           12.8%
                       1            4.7%
                       2            1.6%
                       3            0.3%
                       4            0.0%
                       5            0.0%
женат / замужем        0           35.0%
                       1           13.9%
                       2            7.2%
                       3            1.2%
                       4            0.1%
                       5            0.0%
Name: debt, dtype: object

### Вывод

Если исходить из поставленной задачи "Нужно разобраться, влияет ли семейное положение и количество детей клиента на факт погашения кредита в срок." мой ответ влияет, но незначительно. Выше составил две таблицы, где мы видим например, что категория людей в статусе "Не женат / не замужем" с 4 детьми, отдают кредиты в срок только в 50% случаев, но таких человек было всего 2, или 100% вовремя отдающих кредит людей в разводе с 4 детьми, где в данных с таким критерием учавствует всего 1 человек. Если смотреть по основным категориям людей, которые чаще всего берут кредиты то разница сотавит от 1% до 3%. Основная категория людей которые берут кредиты это люди состоящие в браке и не имеющие детей, полные данные в таблице выше.